@font-face {
  font-family: 'Circe';
  src: url('fonts/Circe-Regular.eot');
  src: url('fonts/Circe-Regular.woff') format('woff'),
  url('fonts/Circe-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
  font-family: 'Circe';
  src: url('fonts/Circe-Bold.eot');
  src: url('fonts/Circe-Bold.woff') format('woff'),
  url('fonts/Circe-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  }

@font-face {
  font-family: 'Gilam';
  src: url('fonts/gilam-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

body {
  box-sizing: border-box;
  margin: 0 auto;
  padding-bottom: 239px;
  background-color: #171717;
  color: #FFFFFF;
  }
  
.background_1 {
  background-image: url(/images/header-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  }
  
.content-wrapper {
  max-width: 1460px;
  margin: 0 auto;
  font-size: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #E4B564;
  padding-top: 37px;
}

.company-name {
  width: 216px;
  height: 33px; 
  background-image: url(/images/СК_ИНФРАСТРУКТУРА_logo_2\ 2.svg);
}

.contacts {
  display: flex;
  align-items: center;
  font-family: 'Circe', sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: #E4B564;
}
  
.company-phone {
  display: inline-block;
  height: 29px;
  align-items: center;
  font-weight: bold;
  color: #E4B564;
  }
  

.company-phone span:nth-child(1) {
  line-height: 29px;
  height: 29px;
}
.company-phone span:nth-child(2) {
  font-size: 19px;
  height: 28px;
  line-height: 28px;
}

.company-phone span:nth-child(3) {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  height: 23px;
  line-height: 23px;
  color: #FFFFFF;
}

.button-link {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Circe', sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #E4B564;

  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 39px;
  
  background-color: transparent;
  border: 1px solid #E4B564;
  cursor: pointer;
}

.call-back_button-link img {
  height: 13px;
  line-height: 13px;
}

.call-back_button-text {
  margin-left: 10px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

section {
  line-height: 28px;
  font-family: 'Gilam', sans-serif;
  padding-top: 120px;
}

h2 {
  display: inline-block;
  height: 28px;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.7px;
}

.outdoor_heating-text {
  max-width: 1182px;
  margin-top: 41px;
}

.outdoor_heating_list {
  display: grid;
  grid-template-rows: repeat(2, 467px);
  grid-template-columns: repeat(6, 1fr);
  margin-top: 41px;
  grid-gap: 27px 25px;
}

.outdoor_heating_list-items {
  display: grid;
  justify-items: center;
  align-items: center; 
}

.item1_1 {
  grid-column: 1/3;
  background-color: #634F2C;
}

.item1_2 {
  grid-column: 3/5;
  background-color: #B4A385;
  text-align: center;
}

.item1_3 {
  grid-column: 5/7;
  background-color: #E4B564;
}

.item1_4 {
  grid-column: 1/4;
  background-color: #635A4A;
}

.item1_5 {
  grid-column: 4/7;
  background-color: #B08C4D;
}

.background_2 {
  background-image: url(/images/parallax-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.own_equipment {
  padding-top: 161px;
  padding-bottom: 191px;
}

.own-equipment_list{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 898px;
  gap: 24px;
  margin-top: 94px;
}

.own-equipment_list-items {
  flex-basis: auto; 
  flex-grow: 1;
}

.item2_1 {
  min-height: 313px;
  background-color: #0E0E0E;
}

.item2_2 {
  min-height: 560px;
  background-color: #1F1F1F;
}

.item2_3 {
  min-height: 439px;
  background-color: #242424;
}

.item2_4 {
  min-height: 405px;
  background-color: #E4B564;
}

.item2_5 {
  min-height: 255px;
  background-color: #1F1F1F;
}

.item2_6 {
  min-height: 313px;
  background-color: #0E0E0E;
}

.item2_7 {
  min-height: 277px;
  background-color: #0A0909;
}

.own-equipment_item-text {
  width: 302px;
  line-height: 25px;
  font-family: 'Gilam', sans-serif;
  font-weight: normal;
  font-size: 20px;
  margin-top: 44px;
  margin-left: 52px;
}

.item2_2 .own-equipment_item-text {
  margin-top: 56px;
}

strong {
  font-weight: 700;
}

.background_3 {
  background-color: #0E0E0E;
}

.our-clients{
  padding-top: 172px;
}

.our-client_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-link:nth-child(2){
  padding-left: 39px;
  padding-right: 40px;
}

.our-clients_button-text{
  font-family: 'Circe', sans-serif;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.our-clients_list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
}

.our-clients_list-items {
  display: flex;
  justify-content: center;
  width: 486px;
  height: 391px;

  flex-direction: column;
  align-items: center;
  line-height: 28px;
  font-size: 22px;
}

.item3_1 {
  background-color: #634F2C;
}

.item3_2 {
  background-color:rgba(232, 210, 171, 0.76);
  font-weight: 400;
}

.item3_2 img {
  margin: 0 auto;
}

.item3_2 img:first-child {
  margin-bottom: 3px; 
}

.item3_2 p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 16px;
  padding-left: 7px;
  padding-right: 7px;
}

.item3_2 p strong {
  font-weight: 600;
}

.item3_3 {
  background-color:#E4B564;
}

.item3_4 {
  background-color:#635A4A;
}

.item3_5 {
  background-color:#B08C4D;
}

.item3_6 {
  background-color: #634F2C;
}
